.navbar {
    height: 4.5rem;
    background-color: #0d2929;
}

.nav-link {
    color: #E7F6F2 !important;
}

a:nav-home {
    color: #1A374D;
}

body {
    background-color: #e8eeed;
}

.pd-5 {
    margin-right: 5px !important;
}

.btn-produtos {
    border-width: 1px;
    border-color: #00A0B8;
    background-color: #0d2929;
    color: #E7F6F2;
    width: 150px;
}

.btn-pesquisa {
    height: 2.5rem !important;
    width: 2.5rem !important;
    border: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


.btn-produtos:hover {
    background-color: #00A0B8;
    color: #E7F6F2;
}

.btn-produtos:focus {
    border-width: 1px;
    border-color: #00A0B8;
    background-color: #00A0B8;
    color: #E7F6F2;
    width: 150px;
}


.btn-carrinho {
    border-width: none;
    border-color: none;
    background-color: #0d2929;
    color: #E7F6F2;
    margin-left: 25px !important;
}

.btn-carrinho:hover {
    color: #00A0B8 !important;
}

.btn-carrinho:active {
    color: #00A0B8 !important;
}

.btn-carrinho:focus {
    color: #00A0B8 !important;
    border: none !important;
}

.icon {
    color: #E7F6F2;
    width: 30px;
}

.icon:hover {
    fill: #00A0B8;
}

.btn-user {
    border-width: 1px;
    border-color: #00A0B8;
    background-color: #0d2929;
    color: #E7F6F2;
    width: 60px;
}

.btn-user:hover {
    background-color: #00A0B8;
    color: #E7F6F2;
}

.btn-user:focus {
    background-color: #00A0B8;
    color: #00A0B8;
}

footer {
    background-color: #0d2929;
}

.container-fluid-container {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.linkNav {
    background-color: #0d2929;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;

}

.redes-sociais {
    filter: invert(100%) sepia(69%) saturate(7499%) hue-rotate(100deg) brightness(105%) contrast(104%);
}


.svg-branco {
    filter: invert(95%) sepia(10%) saturate(167%) hue-rotate(115deg) brightness(101%) contrast(94%);
}

.container-fluid {
    width: 90%;
}

.container-fluid-banners {
    width: 80%;
}

.container-imagens {
    position: relative;
    text-align: center;
    color: white;
}

.dropend {
    margin-right: -10 !important;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.link-categorias {
    background-color: #0d2929;
    color: #E7F6F2;
    border-radius: 5px;
}


.dropdown-menu {
    background-color: #0d2929;
    border-right: 1px solid #1A374D;
    ;
    border-left: 1px solid #1A374D;
    ;
    border-bottom: 1px solid #1A374D;
    ;
}

.dropdown-item {
    color: #E7F6F2;
}

.dropdown-item:hover {
    background-color: #E7F6F2;

}



.link-quadrados {
    color: black;

}

.link-quadrados:link {
    text-decoration: none;
}

.link-quadrados:hover {
    text-decoration: none;
    color: #00A0B8;
}

.link-quadrados:active {
    text-decoration: none;
}


.texto-destaques {
    font-size: 20px;
    color: black !important;
    padding-left: 0;
}

.barra {
    margin-top: -5px;
}

.card-body {
    padding-top: 0px !important;
}

.card-img-top {
    margin-top: 10px !important;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.192);

}

.card-footer {
    margin-top: -15px !important;
}

.tamanho-user {
    font-size: 20px !important;
}


.preco {
    border-top: -10px !important;
    margin-bottom: 16px;
    align-self: end !important;
    font-size: 20px;
    color: #00A0B8;
    font-weight: 600;
}

.text-truncate-2 {
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.text-truncate-4 {
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.tabela-cards {
    width: 100%;
    table-layout: fixed;
}

.card {
    -webkit-box-shadow: 0px 5px 9px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 9px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 5px 9px 1px rgba(0, 0, 0, 0.75);
    background-color: white !important;
    --bs-card-cap-bg: rgb(255 255 255 / 3%);
}

.card-title {
    color: #00A0B8;
    font-weight: 600;
}

.card-text {
    background-color: white;
    font-weight: 600;
}

.card-title:link {
    text-decoration: none !important;
}

.card-title:active {
    text-decoration: none;
}

.card-title:hover {
    text-decoration: none;
    color: #0d2929;
}

tr {
    line-height: 40px;
}

.preco-riscado {
    text-decoration: line-through;
    margin-bottom: 5px;
    font-size: 14px;
    color: black;

}

.preco-desconto {
    border-top: -10px !important;
    margin-bottom: 16px;
    align-self: end !important;
    font-size: 20px;
    color: #00A0B8;
    font-weight: 600;
}


.navbar-admin {
    margin-top: 0px;
}

.font-12 {
    font-size: 12px;
}

.font-14 {
    font-size: 14px !important;
}

.font-22 {
    font-size: 22px !important;
    ;
}

.bg-azul {
    background-color: #0d2929;
    border-radius: 5px;
    padding: 25px;
    outline-style: solid;
    outline-color: #00A0B8;
    outline-width: 3px;
    border: 5px solid #161616;
}

.border_10px {
    border-radius: 10px !important;
}

.texto-nome {
    font-size: 25px;
    font-weight: bold;
    color: #E7F6F2;

}

.texto-stock {
    font-size: 16px;
    color: #00A0B8;
    font-weight: bold;
}

.texto-stock-low {
    font-size: 16px;
    color: yellow;
    font-weight: bold;
}

.texto-stock-0 {
    font-size: 16px;
    color: #ff6b6b;
    font-weight: bold;
    text-decoration: underline;
}

.preco_destaques {
    align-self: left;
    font-size: 22px;
    color: #00A0B8;
    font-weight: 600;

}

.text_white {
    color: #E7F6F2;
}

.text-white:link {
    text-decoration: none;
}


.text-white:visited {
    text-decoration: none;
}


.text-white:hover {
    text-decoration: none;
    color: #00A0B8;
}


.text-white:active {
    text-decoration: none;
}

.weight_600 {
    font-weight: 600;
}

.preco-desconto-detalhes {
    align-self: end !important;
    font-size: 25px;
    color: #00A0B8;
    font-weight: bold;
}

.btn-adicionar-carrinho {
    background-color: #00A0B8;
    height: 38px;
    width: 150px;
    color: #E7F6F2;
    margin-top: -3px;
}

.btn-adicionar-carrinho:hover {
    background-color: #00A0B8;
    height: 38px;
    width: 150px;
    color: #0d2929;
    margin-top: -3px;
}


.quantidade-produtos {
    border-top: 10px;
    height: 37px;
    border-radius: 5px;
    text-align: center;
    font-weight: 600;
}

.quantidade-produtos::placeholder {
    color: #161616;
}

.btn-danger {
    height: 38px;
    width: 150px;
    margin-top: -3px;
}

.preco-detalhes {
    align-self: left;
    font-size: 25px;
    color: #00A0B8;
    font-weight: bold;
}

.text-bg-warning {
    vertical-align: top !important;
    font-size: 12px;
}

.text-bg-warning-detalhes {
    font-size: 15px !important;
}

.texto-descricao {
    border-bottom: #00A0B8 solid 2px;
}

.bold {
    font-weight: bold;
}

.ValoresResumo {
    font-weight: 400 !important;
    text-align: end !important;
}

th,
td,
tr {
    padding: 15px;
    padding-right: 20px !important;
}

.offcanvas {
    background-color: #0d2929;
}

.font-25 {
    font-size: 25px !important;
}

.form_atualizar_carrinho {

    width: 50px !important;
    border-radius: 5px;
    text-align: center;

}

.form_apagar_item {

    width: 50px !important;
    border-radius: 5px;
    border: transparent !important;
    ;
    text-align: center;
    background-color: transparent !important;
    font-size: 30px;
    color: #00A0B8;
}

.TituloResumo {
    border-bottom: #00A0B8 solid 2px;
}

.bg-azul-carrinho {
    background-color: #0d2929;
    border-radius: 5px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 0px;
    outline-style: solid;
    outline-color: #00A0B8;
    outline-width: 3px;
    border: 5px solid #161616;
}

.message {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px 10px;
    background-color: var(--white);
    text-align: center;
    box-shadow: var(--box-shadow);
    color: #E7F6F2;
    font-size: 16px;
    text-transform: uppercase;
    ;
    cursor: pointer;
    background-color: #1A374D;
}

.navbar-header:hover {
    color: #00A0B8;
}

.caixa-index {
    -webkit-box-shadow: 0px 5px 9px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 9px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 5px 9px 1px rgba(0, 0, 0, 0.75);
    background-color: white !important;
}

.accordion {
    width: 100%;
    --bs-accordion-color: #E7F6F2;
    --bs-accordion-bg: #0d2929;
    --bs-accordion-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
    --bs-accordion-border-color: #00abbb21;
    --bs-accordion-border-width: 1px;
    --bs-accordion-border-radius: 0.375rem;
    --bs-accordion-inner-border-radius: calc(0.375rem - 1px);
    --bs-accordion-btn-padding-x: 1.25rem;
    --bs-accordion-btn-padding-y: 1rem;
    --bs-accordion-btn-color: #E7F6F2;
    --bs-accordion-btn-bg: var(--bs-accordion-bg);
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --bs-accordion-btn-focus-border-color: #b9b9b9;
    --bs-accordion-btn-focus-box-shadow: #E7F6F2;
    --bs-accordion-body-padding-x: 1.25rem;
    --bs-accordion-body-padding-y: 1rem;
    --bs-accordion-active-color: #E7F6F2;
    --bs-accordion-active-bg: #133a3a;
}

.accordion-button {
    padding-top: 5px;
    padding-bottom: 5px;
}

.accordion-button:after {

    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.accordion-body {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
}

.offcanvas-body {
    width: 100%;
    border-right: 0px;
    border-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.dropdown {
    list-style-type: none;
    margin-bottom: 0;
}

.dropdown-item {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding: 5px;
    width: 100%;
}

.dropdown-item:hover {
    background-color: #133a3a;
    color: #E7F6F2;
}

.banners{
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    border-radius: 10px;
}